body{
    background-color: #f2f2f2;
}
#results{
 display: grid;
 grid-template-columns: repeat(5,1fr);
 grid-template-rows: auto;
 /* gap: 1px; */
 border: 1px solid blue;
 /* height: 1201px; */
 width: 1190px;
 margin: auto;
margin-top: 200px;
}
.psdiv{
    border: 1px solid red;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    color: black;
    font-family: OpenSanse,Arial, Helvetica, sans-serif; 
    padding: 10px;
    width: 230px;
    height: 435px;
    /* margin: 0 2px 10px 0; */
    box-sizing: border-box;
}
.psdivimg{
    border:1px solid green ;
}


p{
 margin-left: 10px;
 line-height: 20px;
 
}
#ps_Sortbydiv{
     border: 1px solid;
    width: 1190px;
    margin: 0 auto;
    font-size: 0;
    text-align: right;
    padding-top: 30px;
    padding-bottom: 20px;
    /* background-color: #f2f2f2; */
}
#ps_sortby{
font-size: 14px;
color: #000;
display: inline-block;
height: 20px;
line-height: 20px;
border: 1px solid;
}
a{
    font-size: 14px;
color: #000;
display: inline-block;
height: 20px;
line-height: 20px;
border: 1px solid;
}
img{
    width: 100%;
}