* {
    margin: 0%;
    padding: 0%;

  }
 body{
  background-color: rgb(241, 240, 240);
 }
 #flesh {
  width: 100%;
  height: 80px;
  box-shadow: 2px 2px 2px 2px rgb(236, 226, 226);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#flesh div {
  display: flex;
  padding: 2px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#flesh div:hover {
  box-shadow: 2px 2px 2px 2px gray;
}
#flesh img {
  width: 50px;
}
  #containr_superdeals {
    width: 90%;
    height: auto;
    margin: auto;
    margin-bottom: 50px;
    background-color: rgb(241, 240, 240);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
  }
  #containr_superdeals > div {
    height: 350px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    margin: auto;
    padding-top: 10px;
    cursor: pointer;
    background-color: white;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  #containr_superdeals > div:hover{
    box-shadow: 15px 23px 15px 10px rgba(75, 69, 69, 0.1);
  }

  #containr_superdeals > div>div > img {
    width: 150px;
    height: 150px;
  }
  .product_crt_img {
    width: 20px;
    height: auto;
  }
  #sort_filter{
    width: 500px;
    margin-left: 65px;
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
    /* border: 2px solid green; */
    align-items: center;
    gap: 10px;
    font-size: medium;
  }
  #sort_filter>label{
    font-size: 1.25ch;
    font-weight: lighter;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  #sort_filter>button{
    background-color: transparent;
    border: transparent;
    padding:4px 4px 4px 4px ;
    font-size: 1.25ch;
    font-weight: 10;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  #sort_filter>button:hover{
    background-color: yellow;
  }


  @media (min-width: 400px) and (max-width: 720px) { 
     #containr_superdeals {
    width: 90%;
    height: auto;
    margin: auto;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }
  #containr_superdeals > div {
    height: 450px;
    box-shadow: 2px 2px 2px 2px rgb(236, 226, 226);
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}
