*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.headlogo img
{
    width: 230px;
    height: 50px;
    position: absolute;
    margin-left: 75px;
    margin-top: 25px;

}

a
{
    text-decoration: none;
}
h1
{
    font-size: 2em;
    font-weight: bold;
    font-family: Arial,Helvetica, sans-serif;
}

#navbar, #navbarLine
{
    display: flex;
    margin-left: 46%;
    gap: 20px;

}

#navbarLine p
{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #666666;
}



#mainInput
{
    margin-left: 32%;
    width: 460px;
    height: 30px;
    border-radius: 12px;
    margin-top: 40px;
    border-color: yellow;
}

#searchlogo
{
    color: black;
    background-color: #FFDA00;
    margin-top: 40px;
    width: 25px;
    margin-right: 20px;
    padding-top: 5px;
    padding-left: 5px;
    border-radius: 10px;
    margin-left: -28px;
}

#searchBox
{
    display: flex;
}

#searchBox a:hover, #searchBox h4:hover
{
    color: #dacdcd;
}



#user
{
    margin-left: 30px;
    margin-top: 22px;
}

#searchBox a
{
    display: flex;
}

#favorites
{
    margin-left: 50px;
    margin-top: 22px;
}

#cart
{
    margin-left: 50px;
    margin-top: 22px;
}


#userH
{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 4px;
    color: #666666;
    margin-top: 25px;
}

#userF
{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 4px;
    color: #666666;
    margin-top: 25px;
}

#userC
{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 4px;
    color: #666666;
    margin-top: 25px;
}

#banner
{
    width: 1190px;
    height: auto;
    margin-top: 40px; 
    margin-left: 75px;
}

#bannerA 
{
    display: flex;
   
    
}

.head2
{
    margin-left: 100px;
}

.head1
{
    font-size: 20px;
    font-family: 'OpenSans',Arial, Helvetica, sans-serif;
    background-color: #000000;
    color: #FFFFFF;
    width: 200px;
    height: 40px;
    text-align: center;
    padding-top: 10px;
    
}

#bannerA2 h3
{
    font-size: 16px;
    color: #000000;
    font-family: 'OpenSans', Arial, Helvetica, sans-serif;
    padding-top: 10px;
}

#bannerA2
{
    display: flex;
    gap: 100px;
    margin-top: 0px;
    background-color: yellow ;
    width: 100%;
    height: 40px;
    text-align: center;
    background-color: #FFDA00;
    color: #666666;
}

#bannerA2 h3:hover
{
    /* text-decoration: underline; */
    border-bottom: 3px solid black;
}

#bannerIMG
{
    width: 950px;
    margin-left: 250px;
    margin-top: 0px;
}

#sidebar
{
    height: 420px;
    width: 190px;
    background:#fff9f9d9;
    padding: 10px 0px 0px;

}

#sidebar p
{
    font-size: 16px;
    font-family: "OpenSans", Arial, Helvetica, sans-serif;
    color: #666666;
    padding-left: 5px;
}

#sidebar p:hover
{
    background-color: #e4e0e0;
}


  /* Banner CSS ****** */

  .container
  {
    margin: auto;
      width: 1190px;
      height: 100%;
      
      display: flex;
     

  }

  .swiper
  {
      width: 83.5%;
      height: fit-content;

  }

  .swiper-slide img
  {
      width: 100%;
      height: 420px;
     
  }

  .swiper .swiper-button-prev, .swiper .swiper-button-next
  {
      color: antiquewhite;
  }

  .swiper .swiper-pagination-bullet-active
  {
      background-color: #FFFFFF;
  }




  /*  Banner CSS Ends   *******/

.photos
{
    display: flex;
    margin-top: 60px;
    width: 1190px;
    height: 130px;
    margin-left: 70px;
    gap: 8px;


}

.photosTITLE:hover
{
    color: rgb(250, 186, 68);
    cursor: pointer;
}

#superdeals div, #collection div, .photos img
{
    transition: .4s ease-out;
}

#superdeals div:hover, #collection div:hover, .photos img:hover
{
    transform: translateY(15px);
    cursor: pointer;
}


.photos>div
{
   display: flex;
}

#icon 
{
    display: flex;
}

#fafa
{
    margin-left: 60px;
    margin-top: 30px;
}

#iconh1
{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    margin-top: 30px;
}

#collection
{
    display: flex;
    margin-top: 15px;
    width: 1190px;
    height: 300px;
    margin-left: 60px;
    gap: 8px;

}

#collection>div
{
    text-align: center;
    border: 1px solid rgb(252, 233, 233);
}

#collection div:hover
{
    border-color: #dacdcd;
    
}

.cIMG, .sIMG
{
     width: 240px;
}

.ssIMG
{
    width: 280px ;
}

.HP
{
    background-color: #000000B3 ;
    height: 100px;
    color: #FFFFFF;
}

#superdeals
{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin-top: 25px;
    width: 90%;
    height: 365px;
    margin: auto;
    /* margin-left: 60px; */
    gap: 8px;

}

#superdeals div:hover
{
    animation: backwards;
}

#SP
{
    text-decoration: line-through;
}

#Sprice
{
    color: red;
}

#flashsale
{
    background-color: #FFEDF1;
    color: #F30240;
}

#superdeals>div
{
    text-align: center;
    border: 1px solid rgb(223, 228, 228);
}



#collection p
{
    font-family: Arial,Helvetica,sans-serif;
}

#superdeals p
{
    font-family: Arial,Helvetica,sans-serif;
}


.popularSearches
{
    margin-top: 50px;
    margin-left: 60px;
    display: flex;
   
}

.popularSearches>div
{
    gap: 20px;
    display: flex;
}

.popularSearches p
{
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #000000;
    text-decoration: none;
    

}

.popularSearches p:hover
{
    color: rgb(33, 95, 95);
    cursor: pointer;
}


   /* Appended Products CSS */


   #AllGearBestProducts
   {
       display: grid;
       grid-template-columns: repeat(5, 1fr);
       width: 1190px;
       margin-left: 40px;
       gap: 8px;
   }

   

   .SIMG
   {
       width: 250px;
       height: 240px;
   }

   #AllGearBestProducts div
   {
       border: 1px solid #eeeeee;
       margin-top: 20px;
       height: 380px;
   }

   #AllGearBestProducts p
   {
       font-family: "OpenSans", Arial, Helvetica, sans-serif;
   }

   #Flashsale
   {
       background-color: #FFEDF1;
       color: #F30240;
   }

   .PhotosTITLE
   {
       font-family:  'Courier New', Courier, monospace
   }

   .PhotosTITLE:hover
   {  
      color: rgb(250, 186, 68);
      cursor: pointer;
      
   }

   #AllGearBestProducts div
   {
       transition: .4s ease-out;
   }

   #AllGearBestProducts div:hover
   {
      transform: translateY(15px);
      cursor: pointer;
   }

   #Pprice
   {
       color: red;
       font-size: 20px;
       font-family: "OpenSans", Arial, Helvetica, sans-serif;
   }
