* {
    font-family: OpenSanse, Arial, Helvetica, sans-serif;
}
#Vlogo>img{
width: 15.5%;
margin-left: 5.5%;
margin-top: 15px;
}

#Vregister {
    width: 27%;
    padding: 30px;
    position: sticky;
    left: 63%;
    margin-top: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#Vhead {
    display: flex;

}
#Vhead>p{
    cursor: pointer;
}

#Vhead>p:last-child {
  
    color: #bababa;

}

#Vhead>p:first-child {
    border-bottom: 3px solid #ffda00;
    margin-right: 25px;
}

#Vhead>p:last-child:hover {
    color: black;
}

#Vhead>p {
    font-weight: bold;
    font-size: 19px;
    padding-bottom: 5px;

}

#Vform>input {
    width: 96%;
    height: 35px;
    padding-left: 10px;
}


::placeholder{
    color: #bababa;
}


input {
    font-size: 16px;
    font-weight: normal;
    color: #7c7474;
}


#VsigButton {
    border: 1px solid;
    width: 100%;
    height: 40px;
    border: none;
    font-size: 18px;
    background-color: #ffda00;
    cursor: pointer;
    font-weight: bold;
}

.p {
    text-align: center;
    margin-top: 20px;
}

#Vgoogle>img {
    display: block;
    width: 50px;
    margin: auto;
    border-radius: 50%;
    border: 1px solid #bdb8b8;
    cursor: pointer;
}

#img >img{

    width: 60px;
    height: 20px;
    object-fit: contain;
   
}
#img{
    margin: auto;
    width: 15%;
    margin-top:50px ;
}
#bottom p{
    text-align: center;
    color: #7c7474;
    font-size: 12px;

}
#bottom{
    margin-top: 90px;
}
#Vremember{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    font-size: 14px;
}